@media(max-width: 300px){
 .main-section{
  width: 100%;
 }
  .section-left{
    width: 90%;
  }
  .content-frame{
    margin-top: 40px;
  }
  .section-left .img-frame-webnar {
    width: 231px;
  }
  .section-rigth::before {
  display: none;
}
  .section-rigth .form-contact {
    width: 255px;
  }
  .btn-forms{
    width: 255px;
    padding-right: 0;
  }
  .btn-contact {
    width: 60%;
    border-radius: 40px;
    font-size: 12px;
    margin-top: 15px;
    height: 40px;
  }
}