@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
  width: 100vw;
  overflow-x: hidden;
  background: #241725;
}
main {
  height: 964px;
  width: 80vw;
  margin: auto;
}
.img-logo{
  height: 104px;
  padding-top: 42px;
}
.img-logo img{
  position: absolute;
  width: 265px;
  left: calc(50% - 265px/2 - 427.5px);
}

.main-section{
 margin-left: calc(50% - 265px/2 - 427.5px);
 margin-top: 86px;
 display: flex;
}
.section-left {
  width: 550px;
}

.section-left .title-webnar{
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.section-left .line {
  background: #ED9B27;
  height: 2px;
  border: none;
}

.section-left .description-webnar{
  height: 111px;
  margin-top: 26px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

/* Básicas/branco */

color: #FFFFFF;
}
.section-left .img-frame-webnar {
  width: 550px;
  height: 310px;
  margin-top: 63px;
}
.section-rigth{
  width: 455px;
  margin-left: 115px;
  margin-top: 95px;
}

.section-rigth .form-contact{
  background: linear-gradient(180deg, #433B69 0%, #39395E 100%);
  mix-blend-mode: normal;
  opacity: 0.95;
  border-radius: 10px; 
  height: 515px;
  padding-left: 48px; 
  display: flex;
  flex-direction: column;
}
.form-contact .label-input {
  font-family: 'Open Sans';
  height: 72px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  width: 360px;
  /* identical to box height, or 100% */
  text-transform: uppercase;
  /* Principais/cor-prim-3 */
  color: #ED9B27;
  margin-bottom: 19px;
}
.form-contact .label-name {
  padding-top: 39px;
}
.form-contact .container-input {
  width: 360px;
  background-color: none;
  background: none;
  border: none;
  border-bottom: solid 2px #ED9B27;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding-top: 11px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #FFFFFF
  
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #FFFFFF
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #FFFFFF
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #FFFFFF
}
.form-contact .container-input:focus:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  background: none;
  outline: 0;
}

.form-contact .container-input:focus::-moz-placeholder { /* Firefox 19+ */
  background: none;
  outline: 0;
}

.form-contact .container-input:focus:-ms-input-placeholder { /* IE 10+ */
  background: none;
  outline: 0;
}
.form-contact .container-input:focus:-moz-placeholder { /* Firefox 18- */
  background: none;
  outline: 0;
}
.form-contact .container-input:focus {
  background: none;
  outline: 0;
}
.btn-forms{
  
  display: flex;
  justify-content: center;
  padding-right: 47px;
}
.btn-contact{
  width: 298px;
  height: 48px;
  padding: 11px, 63px;
  gap: 10px;
  background: #2843E6;
  box-shadow: 0px 0px 30px rgba(220, 119, 121, 0.4);
  border: none;
  border-radius: 50px;
  font-family: 'Exo';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 12px;
  
}
.footer {
  width: 100vw;
  background: linear-gradient(180deg, rgba(25, 16, 25, 1) 0%, rgba(21, 13, 22, 1) 100%);
  /*
  background: linear-gradient(180deg, #606060 0%, #323232 100%);
  mix-blend-mode: multiply;
  opacity: 0.5;
  */
}
.section-social-midia a{
  text-decoration: none;
  opacity: 0.5;
}
.section-social-midia a:hover{
  text-decoration: none;
  opacity: 1;
}
.seciton-footer{
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 303px;
  
}
.section-social-midia{
  width: 30%;
}
.seciton-logo{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seciton-logo img{
  opacity: 0.5;
}
.seciton-logo img:hover{
  opacity: 1;
}

.section-contact{
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.5;
}
.section-contact .icon-wwp{
  padding-right: 40px; 
}
.section-contact {
  opacity: 0.5;
}

.section-contact:hover {
  opacity: 1;
}